*, *::before, *:after {
    box-sizing: border-box;
}

body {
    font-family: 'Helvetica Neue', Helvetica, arial, sans-serif;
    color: #323232;
    padding-top: 4.5em;
    padding-bottom: 30px;
    margin: 0;
}

h2 {
    font-weight: normal;
}
